{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | prepend: site.baseurl }}" >
    <meta name="theme-color" content="#222222"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ '/assets/css/fa-svg.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/bootstrap4.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
 </head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="navbar-collapse" style="display: block;">
        <div style="margin-bottom: 1vh; padding-left: 3vw;">
        <a class="navbar-brand " href="{{ '' | relative_url }}/">
            <!-- <img class="navbar-img" src="{{ '/favicon.png' | prepend: site.baseurl }}"> -->
            {{ site.name }}
        </a>
        <br>
        <span style="color:#2AAA8A; font-weight: 600;">Software Engineering Student</span>
    </div>

        <div class="navbar-nav" style="flex-wrap: wrap;">

            <a class="nav-item nav-link" href="{{ '' | relative_url }}/">
                
                <svg xmlns="http://www.w3.org/2000/svg" height="19px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                  </svg>
                  

            Home</a>

            <a class="nav-item nav-link" href="{{ 'recent' | relative_url }}/">
                
                <svg xmlns="http://www.w3.org/2000/svg" height="19px"fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>

            Recent</a>

            <a class="nav-item nav-link" href="{{ 'archive' | relative_url }}">

            <svg xmlns="http://www.w3.org/2000/svg" height="19px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                  </svg>
                  

            Archive</a>

            <a class="nav-item nav-link" href="{{ 'tags' | relative_url }}">
            
            <svg xmlns="http://www.w3.org/2000/svg" height="19px"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                  </svg>
                  

            Tags</a>
            <a class="nav-item nav-link" href="{{ 'projects' | relative_url }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="19px"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                  </svg>

            Projects</a>
        </div>
    </div>
</nav>
