---
layout: blank
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Victor+Mono:wght@600&display=swap" rel="stylesheet">


<br></br>
<h1>
<span style="margin-left:2vw; color:lightslategrey; font-family: 'Victor Mono', monospace;">Hey! I'm Jason</span>
</h1>

<span style="font-size: 15px; margin-left:2vw; color:lightslategrey; font-family: 'Victor Mono', monospace;">Based in: Toronto, Canada | Prague, Czechia</span> 
<br></br> 

<h2>
<div style="font-family: 'Victor Mono', monospace; margin-left: 5vw; margin-right: 10%">
I'm an aspiring engineer that has hands-on University Research Experience <span style="color:rgb(193, 193, 193);">(A.I & Software Sectors)</span> and have an evergrowing curiousity about Hardware & Software Systems as a whole... from D flip-flop(s) to React.js haha!
<br></br>
<span style="color:rgb(193, 193, 193);">
—constantly learning and venturing into various personal projects
</span>
<br><br/>

</div>


<a href="projects" style="margin-left: 2.5vw;">   
<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
  </svg>
  
(Please check out my Open Source Projects)
</a>

</h2>


